@using System.Web.Optimization

@{
    if (Session["idUser"] == null) {
        Response.Redirect("~/Login/Index");
    }

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>AWM - Proyectos</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="icon" type="image/png" href="~/Content/dist/img/agile_work_icon.png" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />

    @Styles.Render("~/Css")
    @Scripts.Render("~/Js")
</head>

<body id="main_body" class="hold-transition skin-green-light layout-top-nav">
    <!-- Site wrapper -->
    <div class="wrapper">

        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand"><b>Agile Work</b><span class="space-header-login">Management</span></a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                        <ul id="main_nav" class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proyectos<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <!--En estos a href colocar la url para listar los proyectos-->
                                    <li id="liCreateProject"><a href="@Url.Action("new", "Project")">Crear Proyecto</a></li>
                                    <li id="liViewProjects"><a href="@Url.Action("Index", "Project")">Ver Proyectos</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!--List Projects Template-->
        <script id="temp-list-projects" type="text/x-handlebars-template">
            {{#each projects}}
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row row-fixed-zero container-list-projects">
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
                        <span>{{name}}</span>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <button type="button" data-identity="{{id}}" class="btn btn-block btn-info btn-xs">Ver</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </script>

        <div id="blockContainer" class="content-wrapper bg">
            <div class="container">
                <section class="content">
                    @RenderBody()
                </section>
            </div>
        </div>

        <footer class="main-footer">
            <div class="container">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 1.0.0
                </div>
                <strong>
                    &copy; <span>2018</span>
                    <a class="footer-text footer-highlight" href="#">Desarrollado por Gustavo Ramos & Walberth Gutierrez</a>
                </strong>
            </div>
        </footer>
    </div>

    <script type="text/javascript">
        initialize();
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>